@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<tp4dotnet.Models.Student>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First-Name</th>
            <th scope="col">Last-Name</th>
            <th scope="col">Phone Number</th>
           <th scope="col">University</th>
            <th scope="col">TimeStamp</th>
            <th scope="col">Course</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.id</td>
                <td>@student.first_name</td>
                <td>@student.last_name</td>
                <td>@student.phone_number</td>
                <td>@student.university</td>
                <td>@student.timestamp</td>
                <td>@student.course</td>
            </tr>
        }
    </tbody>
</table>